<div class="row">
    <div class="card">
        <h5 class="card-header">
            {{title}}
        </h5>
        <div class="card-body">
            <textarea id="edit-blog-textarea">{{content}}</textarea>
        </div>
        <div class="card-footer text-muted">
            <button id="edit-blog-save-button" data-id="{{id}}">Save Post</button>
        </div>
    </div>
</div>