<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row">
  <div class="card">
      <h5 class="card-header">
        {{blog.title}}
      </h5>
      <div class="card-body">
        <p class="card-text">{{blog.content}}</p>
        <a href="/blogpage.html" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
          Posted by {{blog.author}} on {{blog.date}}
      </div>
    </div>
</div>
{{/each}}
